
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Identifiant de l'auteur</th>
                <th>Prenom de l'Auteur</th>
                <th>Nom de l'Auteur</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="auteur in auteurs">
                    <td>{{auteur.id}}</td>
                    <td>{{auteur.prenom}}</td>
                    <td>{{auteur.nom}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2">
    </div>
</div>
<div class="row">
    <strong>* Un auteur</strong> <br/>
    <select name="" id="">
        <option value="">SELECTIONNER UN AUTEUR</option>
        <option ng-repeat="auteur in auteurs track by auteur.id" ng-change="change(auteur.id)" ng-model="nom">{{auteur.nom}}</option>
    </select>
    <div class="col-xs-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Identifiant de l'auteur</th>
                <th>Prenom de l'Auteur</th>
                <th>Nom de l'Auteur</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr ng-change="change(auteur.id)">-->
                <!--<td>{{aut.id}}</td>-->
                <!--<td>{{aut.nom}}</td>-->
                <!--<td>{{aut.prenom}}</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>
