<div>
    <h2 translate="projetApp.utilisateur.home.title">Utilisateurs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="utilisateur.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="projetApp.utilisateur.home.createLabel">
                        Create new Utilisateur
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'projetApp.utilisateur.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom"><span translate="projetApp.utilisateur.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenom"><span translate="projetApp.utilisateur.prenom">Prenom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="projetApp.utilisateur.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pass"><span translate="projetApp.utilisateur.pass">Pass</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blacklist"><span translate="projetApp.utilisateur.blacklist">Blacklist</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picture"><span translate="projetApp.utilisateur.picture">Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="utilisateur in vm.utilisateurs track by utilisateur.id">
                    <td><a ui-sref="utilisateur-detail({id:utilisateur.id})">{{utilisateur.id}}</a></td>
                    <td>{{utilisateur.nom}}</td>
                    <td>{{utilisateur.prenom}}</td>
                    <td>{{utilisateur.email}}</td>
                    <td>{{utilisateur.pass}}</td>
                    <td>{{utilisateur.blacklist}}</td>
                    <td>
                        <a ng-if="utilisateur.picture" ng-click="vm.openFile(utilisateur.pictureContentType, utilisateur.picture)" translate="entity.action.open">open</a>
                        <span ng-if="utilisateur.picture">{{utilisateur.pictureContentType}}, {{vm.byteSize(utilisateur.picture)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="utilisateur-detail({id:utilisateur.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="utilisateur.edit({id:utilisateur.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="utilisateur.delete({id:utilisateur.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
