
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmprunterLabel" translate="projetApp.emprunter.home.createOrEditLabel">Create or edit a Emprunter</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.emprunter.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.emprunter.id" readonly />
        </div>

        <div class="form-group">
            <label translate="projetApp.emprunter.ouvrage" for="field_ouvrage">Ouvrage</label>
            <select class="form-control" id="field_ouvrage" name="ouvrage" ng-model="vm.emprunter.ouvrage" ng-options="ouvrage as ouvrage.id for ouvrage in vm.ouvrages | orderBy:'id' track by ouvrage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="projetApp.emprunter.utilisateur" for="field_utilisateur">Utilisateur</label>
            <select class="form-control" id="field_utilisateur" name="utilisateur" ng-model="vm.emprunter.utilisateur" ng-options="utilisateur as utilisateur.id for utilisateur in vm.utilisateurs | orderBy:'id' track by utilisateur.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
